body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

#video {
    position: absolute;
}

#image {
    position: absolute;
    top: 100px;
    left: 200px;
}